* {
    text-align: center;
}

body {
    border:black 2px solid;
    min-height: 100vh;
    /* to remove white space */
    margin: 0 auto;
    padding: 0;
    /* overflow: hidden; */
    background: #169bff;
}

header {
    /* border: red 2px solid; */
    margin-top: 40px;
}

h1 {
    /* border: green 2px solid; */
    float: left;
    width: 30%;
    font-size: 20px;
}

p {
    border: black 2px dotted;
    float: right;
    width: 60%
}

#bottom-header {
    margin-top: -15px;
    width: 10%;
    margin-left: 150px;
}

h2 {
    /* border: green 2px solid; */
    /* color: green; */
    text-align: left;
    font-size: 14px;
    width: 10%;
}

.container {
    border: white 2px solid;
}

section {
    margin: 30px 100px 0 100px;

    border: green 2px solid;
    padding: 100px;
    
}

#player-board {
    float: left;
    width: 35%;
    padding: 0;
}

.game2 {
    border: black 2px dotted;
    /* float: left;
    width: 45%; */
}

#opponent-board {
    float: right;
    width: 40%;
    padding: 0;
    margin-top: -130px;
}
.game3 {
    /* float: right; */
    border: black 2px dotted;
    /* width: 45%; */
}

/* .flex-row {
    border: yellow 2px solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
} */

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

.score {
    /* border: 2px red solid; */
    margin-top: 200px;
    padding: 0;
    /* padding-top: 50px; */
}

table {
    /* margin-top: 200px; */
    display: flex;
    justify-content: center;
}