* {
    text-align: center;
}

body {
    border:black 2px solid;
    min-height: 100vh;
    /* to remove white space */
    margin: 0 auto;
    padding: 0;
    /* overflow: hidden; */
    background: #169bff;
}

header {
    /* border: red 2px solid; */
    margin-top: 40px;
}

.container {
    /* border: red 2px solid; */
}

section {
    margin: 60px;
    /* border: green 2px solid; */
}

h2 {
    /* color: green; */
    /* text-align: center; */
    font-size: 14px;
}

.game2 {
    border: black 2px dotted;
    float: left;
    width: 45%;
}

.game3 {
    float: right;
    border: black 2px dotted;
    width: 45%;
}

ul {
    list-style-type: none;
}

li {
    text-decoration: none;
}

table {
    margin-top: 200px;
    /* display: flex;
    justify-content: center; */
}
